<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/estils.css">
    <title>Principal</title>
</head>
<body>
    <header>
        {{> header}}
    </header>
    <main class="contenedor">
        <h1>{{site.title}}</h1>
        <h2>{{site.subtitle}}</h2>
        <p>{{site.notice}}</p>
        {{#if site.showWarning}}
            <span>Bloque de HTML</span>
        {{/if}}
    </main>
</body>
</html>